General Styles
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #103f85;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(183, 15, 15, 0.808);
    padding: 20px;
    width: 15%;
    max-width: 30px;
    margin: 0 auto;
}

 Form Styles
form {
    display: inline-block;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s;
    color: #888;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    left: 35px;
    font-size: 12px;
    color: #555;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
    
}


.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}


h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border-left-color: aqua;
}

button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
} 
